{
  "extends": ["../../.eslintrc"],
  "plugins": ["jsx-a11y"],
  "rules": {
    "react-native/no-inline-styles": "off",
    "react-native/no-color-literals": "off",
    "react-native/no-raw-text": "off",
    "react-native/no-single-element-style-arrays": "off",
    "react-native/sort-styles": "off"
  }
}
